@charset "UTF8";

* {
    margin: 0px;
    padding: 0px;
}

main.container {
    background-color: blanchedalmond;
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

div.bloco-1 {
    background-color: aquamarine;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

div.bloco-2 {
    background-color: blueviolet;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

div.bloco-3 {
    background-color: brown;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}